body {
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  /* height: 6000px; */
}

img {
  display: block;
}

a {
  text-decoration: none;
}

header {
  position: relative;
  z-index: 1;
}

/*  */
.back-to-position-bg {
  transition: .5s;
}

.to-wide {  
  width: 0%;
}

.show .back-to-position-bg {
  width: 110%;
}

.show .back-to-position-bg-company {
  width: 63%;
}

.show .back-to-position-bg-franchise {
  width: 240px;
}
/* scroll magic back to position */
.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right {
  transform: translateX(-50px);  
}
.back-to-position.to-left {
  transform: translateX(50px);
}
.back-to-position.to-up {
  transform: translateY(50px);
}
.back-to-position.to-down {
  transform: translateY(-50px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.texts {
  opacity: .6;
  transform: translateX(0);
}
.show .back-to-position.delay-0 {
  transition-delay: 0s;
}
.show .back-to-position.delay-1 {
  transition-delay: .3s;
}
.show .back-to-position.delay-2 {
  transition-delay: .6s;
}
.show .back-to-position.delay-3 {
  transition-delay: .9s;
}
.show .back-to-position.delay-4 {
  transition-delay: 1.2s;
}

.show .back-to-position-bg.delay-0 {
  transition-delay: .3s;
}

.show .back-to-position-bg-franchise.delay-0 {
  transition-delay: .6s;
}



/* swiper */
.swiper {
  /* width: 600px; */
  height: 100%;
  position: relative;
}

/* robo font */
.robo {
  font-family: 'Roboto', NanumSquareR;
  font-weight: 900 !important;
  line-height: 1 !important;
  letter-spacing: -1px !important;
}

/* NAVIGATION */
.nav {
  position: fixed;
  right: 30px;
  top: 30%;
  text-align: center;
  font-size: 0.9em;

}

.nav .inner {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav .inner > ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.nav .inner > ul > li {
  background-color: #1C1C1B;
  color: #FFF;
  overflow: hidden;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
  margin-bottom: 15px;
}

.nav .inner > ul > li > a {
  display: block;
  height: 100%;
  width: 100%;
}

.nav .inner > ul > li > a .table0 {
  display: table;
  width: 100%;
  height: 100%;
  border-spacing: 0;
}

.nav .inner > ul > li > a .table0 .cell {
  display: table-cell;
  vertical-align: middle;
  font-weight: 300;
  color: #FFF;
}

.nav .inner > ul > li > a .table0 .cell:hover {
  background-color: #FDD000;
  color: #1C1C1B;

}

.nav .inner > ul > li > a .table0 .cell .content__text {
  margin: 4px;
}

.nav .inner > ul > li > a .table0 .cell .content__text__title {
  font-size: 1.4em;
}



/* HEAD MENU*/
.head {
  position: fixed;
  width: 100%;
  height: 103px;
  transition: all .2s ease;
  overflow: hidden;
  z-index: 1;
}

.head.fixed {
  background-color: #FFF;
}

.head:hover {
  height: 255.65px;
}

.head.hover {
  background-color: #fff;
}

.head.stretch {
  height: 255.65px;
}

.head .inner {
  position: relative;
  width: 1280px;
  height: 104px;  
  left: 0;
  right: 0;
  margin: auto;
}

.head .inner .logo {
  height: 41.09px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}

.head .inner .logo img {
  width: 200px;
  height: 41.09px;
  cursor: pointer;
}

.head .inner .logo > img:first-child {
  display: block;
}

.head .inner .logo > img:last-child {
  display: none;
}

.head .inner .logo.fixed > img:first-child {
  display: none;
}

.head .inner .logo.fixed > img:last-child {
  display: block;
}

.head .inner .head__menu {
  height: 100%;
  position: absolute;
  padding: 0 300px;
  left: 0;
  right: 0;
  margin: 0 auto;  
}

.head .inner .head__menu .menu {
  display: flex;  
}

.head .inner .head__menu .menu > li {
  text-align: center;
  position: relative;
  
}

.head .inner .head__menu .menu > li:hover {
  background-color: #FDD000;
}


.head .inner .head__menu .menu > li > a {
  position: relative;
  width: 113.31px;
  display: inline-block;
  padding: 40px 0;
  font-size: 1.1em;
  font-weight: 500;
  color: #1C1C1B;

}

.head .inner .head__menu .menu > li::after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  background-color: #1C1C1B;
  position: absolute;
  left: 0;
  right: 0;
  top: 39%;
  margin: auto;
  transition: all .2s;
}

.head .inner .head__menu .menu > li:hover::after {
  width: 56.66px;

}

.head .inner .head__menu .menu > li .head__menu__dropmenu {
  font-size: 0.9em;
  font-weight: 400;  
}

.head .inner .head__menu .menu > li .head__menu__dropmenu > ul {
  padding: 20px;
  display: block;
}

.head .inner .head__menu .menu > li .head__menu__dropmenu > ul > li {
  margin-bottom: 10px;

}

.head .inner .head__menu .menu > li .head__menu__dropmenu > ul > li > a { 
  color: #1C1C1B;
}

.head .inner .head__menu .menu > li .head__menu__dropmenu > ul > li > a:hover { 
  text-decoration: underline;
}

.head .inner .head__sns {
  position: absolute;
  right: 0;
  width: 196px;
  height: 39px;
  top: 0;
  bottom: 0;
  margin: auto;
  
}

.head .inner .head__sns .sns {
  display: flex;
}

.head .inner .head__sns .sns li {
  margin-right: 10px;
  width: 39px;
  height: 39px;
}

.head .inner .head__sns .sns li a {
  padding: 3px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 50%;
  box-sizing: border-box;

}

.head .inner .head__sns .sns li a:hover {
  background-color: #FDD000;
  border-color: #FDD000;
}

.head .inner .head__sns .sns li a img {
  margin: auto;
}

/* MAIN SECTION */
.main__wrap {
  position: relative;
  z-index: 0;
}

.main__fullpage--wrapper {

}


.section {
  height: 100vh;
}

.section.section__main {

}

.section.section__main .swiper {

}

.section.section__main .swiper .swiper-wrapper {

}

.section.section__main .swiper .swiper-wrapper .swiper-slide {

}

.section.section__main .swiper .swiper-wrapper .swiper-slide .swiper-slide__img {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center center !important;
  cursor: pointer;
}

.section.section__main .swiper .swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  z-index: 10;
}

.section.section__main .swiper .swiper-pagination .swiper-pagination-bullet {
  cursor: pointer;
  display: inline-block;
  width: 20px !important;
  height: 8px !important;
  background-color: #FFF;
  border-radius: 100px !important;
  opacity: .3 !important;
}

.section.section__main .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 48px !important;
  border-radius: 5px !important;
  opacity: 1 !important;
}

.section.section__franchise {
  position: relative;
}

.section.section__franchise .franchise__wrapper {
  position: relative;
  height: 100%;
  background-color: #FDD000;

}

.section.section__franchise .franchise__wrapper .franchise__wrapper__middle {
  display: flex;
  position: absolute;
  width: 100%;
  height: 451px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  justify-content: center;
}

.section.section__franchise .franchise__wrapper .franchise__wrapper__middle .franchise__left {
  height: 100%;
  width: 515px;
  position: relative;
}

.section.section__franchise .franchise__wrapper .franchise__wrapper__middle .franchise__left .contents__info {
  font-size: 24px;
  margin: 15px 0;
}

.section.section__franchise .franchise__wrapper .franchise__wrapper__middle .franchise__left .contents__title__bg {
  position: absolute;
  left: -15px;
  right: 0;
  top: 41%;
  margin: auto;
  transform: translateX(-147px);
  display: block;
  height: 66px;
  z-index: -1;
  background: #fff;
  transition: .5s;

}

.section.section__franchise .franchise__wrapper .franchise__wrapper__middle .franchise__left .contents__title {
  position: relative;
  font-size: 60px;
}


.section.section__franchise .franchise__wrapper .franchise__wrapper__middle .franchise__left .contents__title__info {
  margin-top: 10px;
  font-size: 24px;
}

.section.section__franchise .franchise__wrapper .franchise__wrapper__middle .franchise__left .contents__title__info > span{
  font-size: 48px;
}

.section.section__franchise .franchise__wrapper .franchise__wrapper__middle .franchise__left .contents__text__title {
  font-weight: 400;
  font-size: 22px;
  margin: 30px 0px 20px 0px;
  line-height: 1.2;
}

.section.section__franchise .franchise__wrapper .franchise__wrapper__middle .franchise__left .contents__text__info {
}

.section.section__franchise .franchise__wrapper .franchise__wrapper__middle .franchise__right {
  position: relative;
  height: 100%;
  width: 515px;
  overflow: hidden;
}

.franchise__right .youtube {
  position: relative;
}

.franchise__right .youtube .youtube__area {

}

#player {
  /* transform: translateX(1px); */
  /* transform: translateY(1px); */
  width: 515px;
  height: calc(515px * 9 / 16);
  border: none;
}


.franchise__right .inquiry {
  height: 12%;
  color: #FFF;
  background-color: #1C1C1B;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  transform: translateY(-4px);
  transition: all .2s ease;
  cursor: pointer;
}

.franchise__right .inquiry:hover {
  background-color: #703614;
  transform: translateY(-8px);

}

.section.section__company {
  /* background-color: green; */
}

.section.section__company .company__wrapper {
  height: 100%;
  position: relative;
  display: flex;
}

.section.section__company .company__wrapper .company__wrapper__left {
  position: relative;
  width: 50%;
  
}

.section.section__company .company__wrapper .company__wrapper__left .contents {
  position: absolute;
  width: 515px;
  height: 450px;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.section.section__company .company__wrapper .company__wrapper__left .contents .contents__info {
  font-size: 24px;
  margin: 15px 0;
  font-weight: 300;
}

.section.section__company .company__wrapper .company__wrapper__left .contents .contents__title__bg__yellow {
  position: absolute;
  top: 35%;
  height: 36px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #FDD000;
  transform: translateX(-122px);
  transition: all .8s ease;
}

.section.section__company .company__wrapper .company__wrapper__left .contents .contents__title {
  font-weight: 900;
  font-size: 60px;
}

.section.section__company .company__wrapper .company__wrapper__left .contents .contents__title__info {
  font-weight: 400;
  font-size: 22.4px;
  margin-top: 30px;
}

.section.section__company .company__wrapper .company__wrapper__left .contents .contents__text__info {
  margin: 20px 0;
}

.section.section__company .company__wrapper .company__wrapper__left .contents .btn__wrapper {
  display: flex;
  height: 75px;
  max-height: 75px;
  position: relative;

}

.section.section__company .company__wrapper .company__wrapper__left .contents .btn__wrapper .btn {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FDD000;
  margin: 10px 10px 0 0;
  transition: all .2s ease;
  cursor: pointer;
}

.section.section__company .company__wrapper .company__wrapper__left .contents .btn__wrapper .btn:hover {
  transform: translateY(-5px);
  background-color: #FFDF43;
}

.section.section__company .company__wrapper .company__wrapper__left .contents .btn__wrapper .btn .btn__text {
  font-weight: 600;
  padding: 0 30px;
}

.section.section__company .company__wrapper .company__wrapper__right {
  height: 100%;
  width: 50%;
  background-image: url("/images/main_mega.jpg");
  background-position: center;
  background-size: 250%;
}

/* .section.section__company .company__wrapper .company__wrapper__right img {
  
} */


.section.section__news {
  background-color: cyan;

}

.section.section__foot {
  background-color: purple;

}
/* CHAP LIST */
.chap__list__wrap {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 30px;
  text-align: left;
}

.chap__list__wrap {
  font-weight: 900;
}

.chap__list__wrap > ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.chap__list__wrap > ul > .chap__list {
  display: list-item;
  text-align: -webkit-match-parent;
}

.chap__list__wrap > ul > .chap__list {
  margin-bottom: 20px;
  cursor: pointer;
}

.chap__list__wrap > ul > .chap__list:last-child {
  margin-bottom: 0px;
}

.chap__list__wrap > ul > .chap__list.on span {
  width: 10px;
  background: #1C1C1B;
  opacity: 1;
}

.chap__list__wrap > ul > .chap__list span {
  width: 0px;
  height: 2px;
  background: #1C1C1B;
  opacity: .2;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  transition: all .2s;
  -webkit-transition: all .2s;
}

.chap__list__wrap > ul > .chap__list.on .chap__list__wrap__title {
  opacity: 1;
}

.chap__list__wrap > ul > .chap__list .chap__list__wrap__title {
  padding-left: 0px;
  opacity: .2;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.chap__list__wrap > ul > .chap__list .chap__list__wrap__title .chap__list__wrap__title__text {
  color: #1C1C1B;
}

/* MENU */
.section__menu {

}

.section__menu .menu__wrapper {
  height: 100%;
  position: relative;
  z-index: 1;
}

.section__menu .menu__wrapper .middle {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section__menu .menu__wrapper .middle .contents {
  /* padding: 0px 50px; */
  /* width: 90%; */
  /* max-width: 95%; */
  margin: 0 auto;
}

.section__menu .menu__wrapper .middle .contents:last-child {
  margin-bottom: 0;
}

.section__menu .menu__wrapper .middle .contents .contents__list {

}

.section__menu .menu__wrapper .middle .contents .contents__list > ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul li {
  position: relative;
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-left: 180px;
}


.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .contents__title__wrapper {
  font-size: 24px;
  margin-bottom: 40px;
  position: relative;
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .contents__title__wrapper .contents__title__info {
  font-weight: 300;
  margin: 15px 0;
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .contents__title__wrapper .contents__title__info:first-child {
  margin-top: 0;
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .contents__title__wrapper .contents__title {
  font-size: 1.8em;
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .contents__title__wrapper .contents__title > h2 {
  position: relative;
  font-size: 1.4em;
  font-weight: 900 !important;
  padding: 0;
  margin: 0;
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .contents__title__wrapper .contents__title > h2 .contents__title__bg__yellow {
  position: absolute;
  top: 80%;
  bottom: 0;
  left: -5%;
  right: 0;
  margin: auto;
  /* width: 110%; */
  height: 37px;
  background-color: #FDD000;
  z-index: -1;

}
.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .contents__title__wrapper .contents__title > h2 .contents__title_bg {
  position: relative;
  font-weight: 900;
}


.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .contents__text__box {

}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .contents__text__box:last-child {
  margin-bottom: 0;
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .contents__text__box .contents__text {
  margin: 20px 0;
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .contents__text__box .contents__text:first-child {
  margin-top: 0;
}


.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .contents__text__box .contents__text > b {
  opacity: 1;
  font-weight: 400;
  font-size: 1.4em;
  line-height: 1.2;
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .contents__text__box .contents__text > span {
  opacity: .6;
}


.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .contents__text__box2 {

}
.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .contents__text__box2 .btn {
  position: relative;
  width: 147px;
  height: 55px;
  background-color: #FDD000;
  cursor: pointer;
  transition: all .2s;
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .contents__text__box2 .btn:hover {
  transform: translateY(-5px);
  background-color: #FFDF43;
  
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .contents__text__box2 .btn > a {
  height: 22px;
  position: absolute;
  text-align: center;
  font-weight: 500;
  color: #1C1C1B;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 18px;
}



.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper {
  position: relative;
  width: 510px;
  width: 780px;
  height: 600px;
  flex-grow: 1;
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .swiper-wrapper {
  position: relative;
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .swiper-wrapper .swiper-slide {
  position: relative;
}




.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .swiper-wrapper .swiper-slide .swiper-slide__menu__img {
  border: solid #F4F6F8 1.5px;
  border-radius: 10px 10px 0 0;
  width: 418px;
  background-color: orange;

}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .swiper-wrapper .swiper-slide .swiper-slide__menu__info {
  max-width: 124%;
  width: 124%;
  height: 177px;
  background-color: #F4F6F8;
  display: none;
  padding: 8%;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;

}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .swiper-wrapper .swiper-slide.swiper-slide-next {
  
}


.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .swiper-wrapper .swiper-slide.swiper-slide-active .swiper-slide__menu__info {
  display: block;

}
.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .swiper-wrapper .swiper-slide.swiper-slide-next .swiper-slide__menu__info {

}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .swiper-wrapper .swiper-slide .swiper-slide__menu__img ,
.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .swiper-wrapper .swiper-slide.swiper-slide-next .swiper-slide__menu__img {
  position: absolute;
  height: 418px;
  top: 100;
  bottom: 0;
  margin: auto;
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .swiper-wrapper .swiper-slide.swiper-slide-active .swiper-slide__menu__img {
  position: relative;
  width: 418px;
  /* background-color: orange; */
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .swiper-wrapper .swiper-slide .swiper-slide__menu__info {

}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .swiper-wrapper .swiper-slide .swiper-slide__menu__info .menu__info__title {
  font-weight: 400;
  font-size: 1.4em;
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .swiper-wrapper .swiper-slide .swiper-slide__menu__info .menu__info__info {
  font-size: 0.9em;
  opacity: .5;
  margin-top: 5px;
  margin-bottom: 15px;
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .swiper-wrapper .swiper-slide .swiper-slide__menu__info .menu__info__text {
  font-size: 0.9em;
  opacity: .5;
  text-overflow: ellipsis;
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .swiper-button-prev {
  position: absolute;
  top: 15%;
  left: 25%;
  right: 0;
  margin: auto;
  width: 40px;
  height: 40px;

}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .swiper-button-next {
  position: absolute;
  top: 15%;
  left: 35%;
  right: 0;
  margin: auto;
  width: 40px;
  height: 40px;
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .arrow {
  width: 40px;
  height: 40px;
  border: solid black;
  border-width: 3px 0px 0px 3px;
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .swiper-button-prev .arrow--left {
  transform: rotate(-45deg);
  opacity: .2;
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .swiper-button-next .arrow--right {
  transform: rotate(135deg);
  opacity: .2;
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .arrow:hover {
  opacity: 1;
}

.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .swiper-button-prev::after,
.section__menu .menu__wrapper .middle .contents .contents__list > ul > li .swiper .swiper-button-next::after {
  display: none;
}

